*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

h1{
   text-align:center;
   background-color:rgb(250, 144, 190);
   color:white;
   width:75%; 
   margin:0px auto;
   padding:14px;
   font-size: 50px;
   font-family: cursive;}



.form_
{   
    background-color:rgb(161, 243, 239) ;
    border:2px solid blue;
    width:75%; 
    margin:0px auto;
    }

.form_ label{
    color:rgb(212, 28, 141);
    font-size: xx-large;
}

.form_ div input  { 


  
  background-color:rgb(211, 247, 243);
  color:rgb(3, 3, 21);  
  border:2px solid black;
  display: inline-block;
  width:60%;
  padding:5px 60px;
  font-size:x-large;
   border-radius:20px 0px;
  text-align:center;

  
 
}







.subreset input{
    cursor:pointer;
    text-align:center;
    
    
}



.mygender{
   
   
    font-size:xx-large;
    color:rgb(15, 64, 123);
}

.mygender input{

    margin:20px 0px 10px 10px;
    cursor:pointer;
    
  }

#btn{


background-color:rgb(191, 133, 243);
color:rgb(91, 14, 146);
font-size:28px;
margin:30px 40px;
width:22%;
border:2px solid purple;
border-radius:10px;
text-align:center;

}
#btn:hover{
background-color:rgb(117, 22, 206);
color:rgb(202, 243, 243);
   

}
#btn_{


    background-color:rgb(191, 133, 243);
    color:rgb(91, 14, 146);
    font-size:28px;
    margin:30px 30px;
    width:22%;
    border:2px solid purple;
    border-radius:10px;
    text-align:center;
    }
 #btn_:hover{
        background-color:rgb(117, 22, 206);
        color:rgb(214, 241, 241);}
span{
    color:red;
    font-size:20px;
    font-style: bold;
}
.formerror{
    color:red;
    font-size:25px;
}